@{
    ViewData["Title"] = "About Us";
}

<br />
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            <br /><br />
                  <p>
                      ‘Borrow Books Anywhere’ is a web-based online library system developed by Software Development Unit (SDU) of Auckland Institute of Studies (AIS), which help our customers to browse, borrow and manage books from anywhere or anytime via online. 
                  </p>
        </div>
        <div class="col-4">
            <br /><br />
            <img src="~/Images/reading right.jpg" />
        </div>
    </div>
</div>
