@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h1>Get in touch with <b>Borrow Books Anywhere!</b></h1><br />
    <div class="container-fluid">
        <div class="row">
            <h2> Call us and tell us what you have in mind</h2>
        </div>
        <div class="row">
            <p><b>Phone:</b> (64 9) 815 1717</p>
        </div>
        <div class="row">
            <p><b>Freephone (NZ only):</b> 0800 788 392</p>
        </div><br />
        <div class="row">
            <h2>Send us any questions you have at anytime</h2>
        </div>
        <div class="row">
            <p><b>Email: </b><a href="mailto:info@bba.co.nz"> info@bba.co.nz</a></p>
        </div><br /><br />
        <div class="row">
            <h2>Visit us at our office and borrow books right here</h2>
        </div><br />
        <div class="row">
            <div class="col">
                <div class="row">
                    <p><b>St Helens Office:</b><br />28A Linwood Avenue,<br />Mount Albert,<br />Auckland 1025<br /></p>
                </div>
                <div class="row">
                    <p><b>Postal Address:</b><br />PO Box 2995, Auckland, 1140, New Zealand</p>
                </div>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6383.43619012439!2d174.720495!3d-36.873166!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d471b48d5d4ab%3A0xa8a0f20dff61c246!2s28A%20Linwood%20Avenue%2C%20Mount%20Albert%2C%20Auckland%201025!5e0!3m2!1sen!2snz!4v1632105391132!5m2!1sen!2snz" width="600" height="400" style="border:0;"></iframe>
            </div>
        </div>
    </div>
</div>