@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This project is for AIS SOFT807-2022-T2-Assignment 1, created by Hyunmoo Lee, student number 20210264 and student email hyle746@ess.ais.ac.nz.</p>